@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 90vw;
  margin: 0 auto;
}
.header {
  margin-bottom: 20px;
}
.header__container,
.footer__container {
  width: 100%;
  padding: 10px 20px;
}
.header__title {
  font-size: 18px;
  color: rgb(173, 173, 173);
}
.header__title-span {
  font-size: 28px;
  vertical-align: middle;
  color: rgb(255, 166, 0);
}
.main {
  margin: 20px 0;
}
.main__items {
  display: flex;
  justify-content: center;
  -ms-flex-pack: start;      /* эта штучка выровняла последний ряд в IE наконец-то */
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}
.item {
  position: relative;
  width: 260px;
  padding: 15px;
  background: rgb(239, 239, 239);
  text-align: center;
  margin-bottom: 15px;
}
.item:last-child {
  margin-bottom: 0;
}
.item__container {
  position: relative;
  padding: 15px;
  background: rgb(255, 255, 255);
  border: 1px rgb(255, 166, 0) solid;
  text-align: center;
}
.item:hover .item__container {
  margin-bottom: 40px;
}
.item__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  z-index: 1;
  right: -20px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  animation: disappearance 0.3s ease-in-out;
}
.item:hover .item__icons {
  right: 10px;
  opacity: 1;
  visibility: visible;
  animation: appearance 0.3s ease-in-out;
}
.item__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(239, 239, 239);
  color: rgb(122, 122, 122);
  cursor: pointer;
}
.item__icon:hover {
  width: 45px;
  height: 45px;
}
.item__icon-eye:hover {
  color: rgb(255, 215, 72);
}
.item__icon-heart:hover {
  color: rgb(255, 59, 59);
}
.item__icon-scales:hover {
  color: rgb(59, 194, 59);
}
.item__image {
  height: 250px;
  width: 200px;
  position: relative;
  overflow: hidden;
}
.item__image-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
}
.item__about {
  margin-top: 10px;
  padding: 10px 0;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}
.item__type,
.item__author,
.item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}
.item:hover .item__about {
  margin-top: -30px;
}
.item__type {
  color: rgb(173, 173, 173);
  text-transform: uppercase;
  font-weight: 200;
}
.item__rating {
  display: flex;
  width: fit-content;
  margin: 5px auto;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.item__author {
  color: rgb(173, 173, 173);
  font-size: 12px;
}
.item__price {
  margin-top: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.item__price_old {
  text-decoration: line-through;
}
.item__price_current:not(:only-child) {
  color: rgb(255, 59, 59);
  margin-right: 10px;
}
.footer {
  margin-top: 20px;
}
.footer__info {
  display: flex;
  justify-content: center;
}
.footer__link:not(:last-child) {
  margin-right: 10px;
}
.link-img {
  height: 35px;
}
.item__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  background: rgb(190, 190, 190);
  border: none;
  padding: 8px 17px;
  width: 160px;
  cursor: pointer;
  bottom: -28px;
  opacity: 0;
  visibility: hidden;
  animation: disappearance 0.3s ease-in-out;
}
.item__button::before {
  margin-right: 5px;
}
.item:hover .item__button {
  bottom: 12px;
  opacity: 1;
  visibility: visible;
  animation: appearance 0.3s ease-in-out;
}

@keyframes appearance {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappearance {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@media (min-width: 595px) {
  .header__title {
    font-size: 22px;
  }
  .header__title-span {
    font-size: 32px;
  }
  .main__items {
    width: 535px;
  }
  .item:nth-child(2n + 1) {
    margin-right: 15px;
  }
}

@media (min-width: 915px) {
  .header__title {
    font-size: 26px;
  }
  .header__title-span {
    font-size: 38px;
  }
  .main__items {
    width: 810px;
  }
  .item:nth-child(2n + 1) {
    margin-right: 0;
  }
  .item:not(:nth-child(3n)) {
    margin-right: 15px;
  }
}

@media (min-width:1199px) {
  .container {
    max-width: 1200px;
  }
  .header__title {
    font-size: 28px;
  }
  .header__title-span {
    font-size: 42px;
  }
}

@media (min-width: 1220px) {
  .main__items {
    width: 1085px;
  }
  .item:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .item:not(:nth-child(4n)) {
    margin-right: 15px;
  }
}

@media (min-width: 595px) {
  .item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }
}
