@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
  font-display: swap;
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 90vw;
}
.header__container,
.footer__container,
.main__container {
  margin: 0 auto;
}
.header__container,
.footer__container {
  padding: 20px 0;
}
.header__title {
  font-size: 18px;
  color: rgb(173, 173, 173);
}
.header__title-abbreviation {
  font-size: 28px;
  vertical-align: middle;
  color: rgb(67, 128, 175);
}
.main {
  min-height: calc(100vh - 83.2px - 79px);
}
.main__product-tiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.product-tile {
  position: relative;
  width: 75%;
  padding: 17px;
  background: rgb(240, 240, 240);
  text-align: center;
  overflow: hidden;
}
.product-tile_hidden {
  opacity: 0.5;
}
.product-tile__container {
  position: relative;
  padding: 15px;
  background: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 32px;
}
.product-tile__block-new {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgb(3, 169, 245);
  color: rgb(255, 255, 255);
  padding: 1px 3px;
  font-size: 10px;
}
.product-tile__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  z-index: 1;
  right: 6px;
  top: 8px;
}
.product-tile__icon {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(239, 239, 239);
  color: rgb(122, 122, 122);
}
.product-tile__icon_active {
  background: rgb(22, 136, 223);
  color: rgb(255, 255, 255);
}
.product-tile__image-container {
  height: 236px;
  width: 100%;
  padding: 13px;
  position: relative;
  overflow: hidden;
}
.product-tile__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 210px;
}
.product-tile__type,
.product-tile__title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}
.product-tile__type {
  color: rgb(173, 173, 173);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;
}
.product-tile__title {
  font-size: 14px;
  font-weight: 400;
  margin: 3px 0;
}
.rating {
  display: flex;
  width: fit-content;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.product-tile__rating {
  margin: 0 auto;
}
.rating__star::before {
  font-size: 10px;
}
.product-tile__price-container {
  display: flex;
  justify-content: center;
}
.product-tile__price {
  font-weight: 700;
  font-size: 14px;
}
.product-tile__price_old {
  text-decoration: line-through;
}
.product-tile__price:not(:only-child):not(.product-tile__price_old) {
  color: rgb(255, 59, 59);
  margin-right: 10px;
}
.footer__info {
  display: flex;
  justify-content: center;
}
.footer__link:not(:last-child) {
  margin-right: 10px;
}
.link__image {
  height: 35px;
}
.button {
  text-transform: uppercase;
  background: rgb(98, 162, 210);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 12px;
}
.button_active {
  background: rgb(67, 128, 175);
}
.product-tile__button {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  padding: 8px 12px;
  bottom: 10px;
}
.main__filter-sort {
  margin-bottom: 20px;
}
.main__filter-sort-button {
  display: inline;
  padding: 5px 10px;
}
.checkbox-container {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.main__checkbox-container {
  position: relative;
  vertical-align: middle;
}
.checkbox {
  opacity: 0;
  cursor: pointer;
}
.filter-sort__checkbox {
  width: 100%;
  height: 100%;
}
.checkbox__label {
  display: inline-block;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px rgb(205, 205, 205) solid;
  background: rgb(239, 239, 239);
}
.checkbox__label::after {
  content: attr(data-content);
  position: absolute;
  white-space: nowrap;
  line-height: 100%;
  left: 130%;
  font-size: 14px;
}
.checkbox:checked ~ .checkbox__label {
  border-color: rgb(85, 182, 255);
  background: rgb(186, 223, 251);
}
.checkbox__checkmark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: -1;
  font-size: 13px;
  color: rgb(22, 136, 223);
  opacity: 0;
  padding: 1.5px;
}
.checkbox:checked ~ .checkbox__checkmark {
  opacity: 1;
}

@media (min-width: 460px) {
  .main__product-tiles {
    column-gap: 6%;
    row-gap: 20px;
  }
  .product-tile {
    width: 47%;
  }
  .product-tile:last-child {
    margin-right: auto;
  }
}

@media (min-width: 780px) {
  .main__product-tiles {
    column-gap: 5%;
  }
  .product-tile {
    width: 30%;
  }
  .product-tile__container {
    position: relative;
    padding: 15px;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 0;
  }
  .product-tile:hover .product-tile__container {
    margin-bottom: 50px;
  }
  .product-tile__icons {
    right: -54px;
  }
  .product-tile:hover .product-tile__icons {
    right: 6px;
  }
  .product-tile__icon {
    cursor: pointer;
  }
  .product-tile__icon:hover {
    background: rgb(255, 255, 255);
    color: rgb(22, 136, 223);
  }
  .product-tile__icon_active:hover {
    color: rgb(239, 239, 239);
    background: rgb(122, 122, 122);
  }
  .product-tile__about {
    position: relative;
    padding: 15px 0 0 0;
    background: rgb(255, 255, 255);
    z-index: 1;
  }
  .product-tile:hover .product-tile__about {
    margin-top: -50px;
  }
  .product-tile__button {
    bottom: -29px;
  }
  .button {
    cursor: pointer;
  }
  .button:hover {
    background: rgb(67, 128, 175);
  }
  .product-tile:hover .product-tile__button {
    bottom: 22px;
  }
  .header__title {
    font-size: 24px;
  }
  .header__title-abbreviation {
    font-size: 36px;
  }
  .main__filter-sort-button {
    padding: 5px 15px;
  }
}

@media (min-width: 1030px) {
  .main__product-tiles {
    column-gap: 4%;
  }
  .product-tile {
    width: 22%;
  }
}

@media (min-width:1330px) {
  .container {
    max-width: 1200px;
  }
  .main__product-tiles {
    column-gap: 2.5%;
  }
  .product-tile {
    width: 18%;
  }
}
